<form>
  <label class="contained-target-inline">
    {{~#if description}}
      {{description}}
    {{else}}
      {{localize "wv.prompt.defaults.description"}}
    {{/if~}}
    <input name="input" type="{{type}}" value="{{value}}"
      {{~#if class}} class="{{class}}"{{/if~}}
      {{~#if max includeZero=true}} max="{{max}}"{{/if~}}
      {{~#if min includeZero=true}} min="{{min}}"{{/if}} />
  </label>
  <button>{{localize "wv.prompt.buttonText"}}</button>
</form>
