<form>
  {{~#each inputs as |input|~}}
    {{~#if (eq input.type "checkbox")~}}
      <label class="contained-target-inline flex-center">
        {{input.label}}
        <input name="{{@key}}" type="checkbox" {{checked input.value}}
          {{~#if class}} class="{{class}}"{{/if}} />
      </label>
    {{~/if~}}
    {{~#if (eq input.type "number")~}}
      <label class="contained-target-inline">
        {{input.label}}
        <input required name="{{@key}}" type="number" value="{{input.value}}"
          {{~#if class}} class="{{class}}"{{/if~}}
          {{~#if input.max includeZero=true}} max="{{input.max}}"{{/if~}}
          {{~#if input.min includeZero=true}} min="{{input.min}}"{{/if}} />
      </label>
    {{~/if~}}
    {{~#if (eq input.type "text")~}}
      <label class="contained-target-inline">
        {{input.label}}
        <input required name="{{@key}}" type="text" value="{{input.value}}"
          {{~#if class}} class="{{class}}"{{/if}} />
      </label>
    {{~/if~}}
  {{~/each~}}
  <label class="contained-target-inline">
    {{localize "wv.system.misc.speakerAlias"}}
    <input required name="alias" type="text" value="{{defaults.alias}}"/>
  </label>
  <label class="contained-target-inline">
    {{localize "wv.system.misc.modifier"}}
    <input required name="modifier" type="number" value="{{defaults.modifier}}" class="size-3"/>
  </label>
  <label class="contained-target-inline">
    {{localize "wv.system.rolls.whisperToGms"}}
    <input name="whisperToGms" type="checkbox" {{checked whisperToGms}}>
  </label>
  <label class="contained-target-inline">
    {{localize "wv.system.misc.rollMode.singular"}}
    <select name="rollMode">
      {{selectOptions rollModes selected=defaults.rollMode}}
    </select>
  </label>
  <button>{{localize "wv.system.actions.submit"}}</button>
</form>
