<form>
  {{#each inputs as |input|}}
    <label class="contained-target-inline">
      {{input.label}}
      <input required name="{{@key}}" type="{{input.type}}" value="{{input.value}}"
        {{~#if class}} class="{{class}}"{{/if~}}
        {{~#if input.max includeZero=true}} max="{{input.max}}"{{/if~}}
        {{~#if input.min includeZero=true}} min="{{input.min}}"{{/if}} />
    </label>
  {{/each}}
  <button>{{localize "wv.system.actions.submit"}}</button>
</form>
