<form class="{{cssClass}} flexcol" autocomplete="off">
{{> (get . "sheet.parts.header")}}

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.system.misc.statistics"}}</a>
    <a class="item" data-tab="sources">{{localize "wv.system.misc.sourceValues"}}</a>
    <a class="item" data-tab="rules">{{localize "wv.system.ruleEngine.ruleElement.plural"}}</a>
  </nav>

  <section class="content">
    <div class="tab active" data-group="primary" data-tab="stats">
      <div class="detail-groups">
        <section class="details">
          <span>{{localize "wv.rules.damage.threshold.long"}}: {{data.data.damageThreshold.total}}</span>
          <span>{{localize "wv.rules.equipment.slots.quickSlot.plural"}}: {{data.data.quickSlots.total}}</span>
          <span>{{localize "wv.rules.equipment.slots.modSlot.plural"}}: {{data.data.modSlots.total}}</span>
        </section>
        <section class="details">
          <span>{{localize "wv.rules.equipment.slots.apparelSlot"}}: {{sheet.slot}}</span>
          <span>{{localize "wv.rules.equipment.apparel.type"}}: {{sheet.type}}</span>
        </section>
        {{~#if sheet.blockedSlots~}}
          <section>
            <span>{{localize "wv.rules.equipment.slots.blockedSlots.plural"}}:</span>
            <span class="details">
              {{~#each sheet.blockedSlots as |slot|~}}
                <span>{{slot}}</span>
              {{~/each~}}
            </span>
          </section>
        {{~/if~}}
        {{~#if data.data.notes~}}
          <section>{{data.data.notes}}</section>
        {{~/if~}}
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="sources">
{{> (get . "sheet.parts.baseItemInputs")}}
{{> (get . "sheet.parts.physicalItemInputs")}}
      <div class="flexrow flex-j-spaced spacing-bottom">
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.damage.threshold.long"~}}
          <input class="size-2" type="number" name="data.damageThreshold.source" value="{{data.data.damageThreshold.source}}" />
        </label>
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.equipment.slots.quickSlot.plural"~}}
          <input class="size-2" type="number" name="data.quickSlots.source" value="{{data.data.quickSlots.source}}" />
        </label>
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.equipment.slots.modSlot.plural"~}}
          <input class="size-2" type="number" name="data.modSlots.source" value="{{data.data.modSlots.source}}" />
        </label>
      </div>
      <div class="flexrow flex-j-spaced spacing-bottom">
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.equipment.slots.apparelSlot"~}}
          <select name="data.slot">
            {{~selectOptions sheet.slots selected=data.data.slot~}}
          </select>
        </label>
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.equipment.apparel.type"~}}
          <select name="data.type">
            {{~selectOptions sheet.types selected=data.data.type~}}
          </select>
        </label>
      </div>
      <div class="flexrow flex-j-spaced">
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.slots.names.armor"~}}
          <input type="checkbox" name="data.blockedSlots.armor" {{checked data.data.blockedSlots.armor}} {{disabled (eq "armor" data.data.slot)}} />
        </label>
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.slots.names.clothing"~}}
          <input type="checkbox" name="data.blockedSlots.clothing" {{checked data.data.blockedSlots.clothing}} {{disabled (eq "clothing" data.data.slot)}} />
        </label>
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.slots.names.eyes"~}}
          <input type="checkbox" name="data.blockedSlots.eyes" {{checked data.data.blockedSlots.eyes}} {{disabled (eq "eyes" data.data.slot)}} />
        </label>
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.slots.names.mouth"~}}
          <input type="checkbox" name="data.blockedSlots.mouth" {{checked data.data.blockedSlots.mouth}} {{disabled (eq "mouth" data.data.slot)}} />
        </label>
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.slots.names.belt"~}}
          <input type="checkbox" name="data.blockedSlots.belt" {{checked data.data.blockedSlots.belt}} {{disabled (eq "belt" data.data.slot)}} />
        </label>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="rules">
{{> (get . "sheet.parts.rules")}}
    </div>
  </section>
</form>
