<form class="{{cssClass}} flexcol" autocomplete="off">
{{> (get . "sheet.parts.header")}}

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.system.misc.statistics"}}</a>
    <a class="item" data-tab="rules">{{localize "wv.system.ruleEngine.ruleElement.plural"}}</a>
  </nav>

  <section class="content">
    <div class="tab active" data-group="primary" data-tab="stats">
{{> (get . "sheet.parts.physicalItemInputs")}}
      <div class="flexrow flex-j-spaced spacing-bottom">
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.skills.singular"~}}
          <select name="data.skill">
            {{~selectOptions sheet.skills selected=data.data.skill~}}
          </select>
        </label>
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.equipment.weapon.strengthRequirement.long"~}}
          <input class="size-2" type="number" name="data.strengthRequirement" value="{{data.data.strengthRequirement}}" min="0" max="15" />
        </label>
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.weapon.holdout"~}}
          <input type="checkbox" name="data.holdout" {{checked data.data.holdout}} />
        </label>
      </div>
      <table class="spacing-bottom">
        <thead>
          <tr>
            <th scope="col" class="align-left">{{localize "wv.rules.range.singular"}}</th>
            <th scope="col" class="align-right">{{localize "wv.rules.range.distance.name"}}</th>
            <th scope="col" class="align-left">({{localize "wv.system.values.total"}})</th>
            <th scope="col" class="align-right">{{localize "wv.system.misc.modifier"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.short.long"}}</th>
            <td class="align-right">
              <input type="number" class="size-3" name="data.ranges.short.distance.base" value="{{data.data.ranges.short.distance.base}}" min="0" />
              <span>+</span>
              <input type="number" class="size-2" name="data.ranges.short.distance.multiplier" value="{{data.data.ranges.short.distance.multiplier}}" min="0" />
              <span>*</span>
              <select name="data.ranges.short.distance.special">
                {{~selectOptions sheet.specials selected=data.data.ranges.short.distance.special~}}
              </select>
            </td>
            <td class="align-left min-width">
              {{~#if (eq "-" sheet.displayRanges.short)~}}
                <span>-</span>
              {{~else~}}
                <span>= {{sheet.displayRanges.short}}{{sheet.systemGridUnit}}</span>
              {{~/if~}}
            </td>
            <td class="align-right min-width">
              <input type="number" class="size-3" name="data.ranges.short.modifier" value="{{data.data.ranges.short.modifier}}" />
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.medium.long"}}</th>
            <td class="align-right">
              <input type="number" class="size-3" name="data.ranges.medium.distance.base" value="{{data.data.ranges.medium.distance.base}}" min="0" />
              <span>+</span>
              <input type="number" class="size-2" name="data.ranges.medium.distance.multiplier" value="{{data.data.ranges.medium.distance.multiplier}}" min="0" />
              <span>*</span>
              <select name="data.ranges.medium.distance.special">
                {{~selectOptions sheet.specials selected=data.data.ranges.medium.distance.special~}}
              </select>
            </td>
            <td class="align-left min-width">
              {{~#if (eq "-" sheet.displayRanges.medium)~}}
                <span>-</span>
              {{~else~}}
                <span>= {{sheet.displayRanges.medium}}{{sheet.systemGridUnit}}</span>
              {{~/if~}}
            </td>
            <td class="align-right min-width">
              <input type="number" class="size-3" name="data.ranges.medium.modifier" value="{{data.data.ranges.medium.modifier}}" />
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.long.long"}}</th>
            <td class="align-right">
              <input type="number" class="size-3" name="data.ranges.long.distance.base" value="{{data.data.ranges.long.distance.base}}" min="0" />
              <span>+</span>
              <input type="number" class="size-2" name="data.ranges.long.distance.multiplier" value="{{data.data.ranges.long.distance.multiplier}}" min="0" />
              <span>*</span>
              <select name="data.ranges.long.distance.special">
                {{~selectOptions sheet.specials selected=data.data.ranges.long.distance.special~}}
              </select>
            </td>
            <td class="align-left min-width">
              {{~#if (eq "-" sheet.displayRanges.long)~}}
                <span>-</span>
              {{~else~}}
                <span>= {{sheet.displayRanges.long}}{{sheet.systemGridUnit}}</span>
              {{~/if~}}
            </td>
            <td class="align-right min-width">
              <input type="number" class="size-3" name="data.ranges.long.modifier" value="{{data.data.ranges.long.modifier}}" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="lighter-block resource-block flex-fixed">
        <h4 class="resource-block-line">{{localize "wv.rules.equipment.weapon.attack.plural"}}</h4>
        {{#each sheet.attacks as |attack|~}}
          <div class="lighter-block resource-block flex-fixed weapon-attack">
            <h5 class="resource-block-line">{{@key}}</h5>
            <label class="resource-block-line contained-target-inline">
              {{~localize "wv.rules.damage.long"~}}
              <span>{{attack.damage}}</span>
            </label>
            {{#if attack.rounds~}}
              <label class="resource-block-line contained-target-inline">
                {{~localize "wv.rules.equipment.weapon.shots"~}}
                <span>{{attack.rounds}}</span>
              </label>
            {{~/if}}
            {{#if attack.dtReduction~}}
              <label class="resource-block-line contained-target-inline">
                {{~localize "wv.rules.damage.threshold.reduction.long"~}}
                <span>{{attack.dtReduction}}</span>
              </label>
            {{~/if}}
            <label class="resource-block-line contained-target-inline">
              {{~localize "wv.rules.actionPoints.use"~}}
              <span>{{attack.ap}}</span>
            </label>
            <button type="button" title="{{localize 'wv.system.rolls.modifierExplanation'}}" data-attack={{@key}}>{{localize "wv.system.actions.execute"}}</button>
          </div>
        {{~/each}}
      </div>
      {{#if sheet.usesAmmo~}}
        <div class="lighter-block resource-block flex-fixed">
          <h4 class="resource-block-line">{{localize "wv.rules.equipment.weapon.reload.name"}}</h4>
          <label class="resource-block-line contained-target-inline">
            {{~localize "wv.rules.actionPoints.use"~}}
            <span class="resource-display size-2">{{data.data.reload.ap}}</span>
          </label>
          <label class="resource-block-line contained-target-inline">
            {{~localize "wv.rules.equipment.ammo.caliber"~}}
            <span class="resource-display">{{sheet.reload.caliber}}</span>
          </label>
          <label class="resource-block-line contained-target-inline">
            {{~localize "wv.rules.equipment.weapon.reload.containerType"~}}
            <span class="resource-display">{{sheet.reload.containerType}}</span>
          </label>
          <label class="resource-block-line contained-target-inline">
            {{~localize "wv.rules.equipment.weapon.reload.containerSize"~}}
            <span class="resource-display size-2">{{data.data.reload.size}}</span>
          </label>
        </div>
      {{~/if}}
    </div>

    <div class="tab" data-group="primary" data-tab="rules">
{{> (get . "sheet.parts.rules")}}
    </div>
  </section>
</form>
