<form class="{{cssClass}} flexcol" autocomplete="off">
{{> (get . "sheet.parts.header")}}

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.system.misc.statistics"}}</a>
    <a class="item" data-tab="sources">{{localize "wv.system.misc.sourceValues"}}</a>
    <a class="item" data-tab="rules">{{localize "wv.system.ruleEngine.ruleElement.plural"}}</a>
  </nav>

  <section class="content">
    <div class="tab active" data-group="primary" data-tab="stats">
      <table>
        <thead>
          <tr>
            <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
            <th scope="col" class="align-left">{{localize "wv.rules.damage.long"}}</th>
            <th scope="col" class="align-right">{{localize "wv.rules.damage.threshold.reduction.short"}}</th>
            <th scope="col" class="align-right">{{localize "wv.rules.actionPoints.use"}}</th>
            <th scope="col" class="align-right">{{localize "wv.rules.equipment.weapon.shots"}}</th>
            <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
          </tr>
        </thead>
        <tbody>
          {{~#each data.data.attacks.attacks as |attack|~}}
            <tr>
              <th scope="row" class="align-left">
                <button class="min-width no-wrap" type="button" data-weapon-attack-name="{{@key}}">{{@key}}</button>
              </th>
              <td class="align-left">{{attack.damage.damageFormula}} = {{attack.damage.damageRange}}</td>
              <td class="align-right">{{attack.dtReduction.total}}</td>
              <td class="align-right">{{attack.ap.total}}</td>
              <td class="align-right">{{attack.rounds.total}}</td>
              <td class="align-left flexrow flex-gapped">
                {{~#each attack.tags as |tag|~}}
                  <span class="fas fa-tag tag flex-fixed">{{tag}}</span>
                {{~/each~}}
              </td>
            </tr>
          {{~/each~}}
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th scope="col" class="align-left">{{localize "wv.rules.range.singular"}}</th>
            <th scope="col" class="align-right">{{localize "wv.rules.range.distance.name"}}</th>
            <th scope="col" class="align-right">{{localize "wv.system.misc.modifier"}}</th>
            <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.short.long"}}</th>
            <td class="align-right">{{sheet.displayRanges.short}}{{sheet.systemGridUnit}}</td>
            <td class="align-right">{{data.data.ranges.short.modifier.total}}</td>
            <td class="align-left flexrow flex-gapped">
              {{~#each data.data.ranges.short.tags as |tag|~}}
                <span class="fas fa-tag tag flex-fixed">{{tag}}</span>
              {{~/each~}}
            </td>
          </tr>
          {{~#unless (eq "-" sheet.displayRanges.medium)~}}
            <tr>
              <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.medium.long"}}</th>
              <td class="align-right">{{sheet.displayRanges.medium}}{{sheet.systemGridUnit}}</td>
              <td class="align-right">{{data.data.ranges.medium.modifier.total}}</td>
              <td class="align-left flexrow flex-gapped">
                {{~#each data.data.ranges.medium.tags as |tag|~}}
                  <span class="fas fa-tag tag flex-fixed">{{tag}}</span>
                {{~/each~}}
              </td>
            </tr>
          {{~/unless~}}
          {{~#unless (eq "-" sheet.displayRanges.long)~}}
            <tr>
              <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.long.long"}}</th>
              <td class="align-right">{{sheet.displayRanges.long}}{{sheet.systemGridUnit}}</td>
              <td class="align-right">{{data.data.ranges.long.modifier.total}}</td>
              <td class="align-left flexrow flex-gapped">
                {{~#each data.data.ranges.long.tags as |tag|~}}
                  <span class="fas fa-tag tag flex-fixed">{{tag}}</span>
                {{~/each~}}
              </td>
            </tr>
          {{~/unless~}}
        </tbody>
      </table>
      <div class="detail-groups">
        {{~#if (gt data.data.reload.size.total 0)~}}
          <section>
            <span>{{localize "wv.rules.equipment.weapon.reload.name"}}:</span>
            <span class="details">
              <span>{{data.data.reload.ap.total}} {{localize "wv.rules.actionPoints.short"}}</span>
              <span>{{data.data.reload.size.total}} * {{sheet.reload.caliber}}</span>
              <span>{{sheet.reload.containerType}}</span>
            </span>
          </section>
        {{~/if~}}
        <section class="details">
          <span>{{localize "wv.rules.skills.singular"}}: {{sheet.skill}}</span>
          <span>{{localize "wv.rules.equipment.weapon.strengthRequirement.long"}}: {{data.data.strengthRequirement.total}}</span>
          {{~#if data.data.holdout~}}
            <span>{{localize "wv.rules.equipment.weapon.holdout"}}</span>
          {{~/if~}}
        </section>
        {{~#if data.data.notes~}}
          <section>{{data.data.notes}}</section>
        {{~/if~}}
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="sources">
{{> (get . "sheet.parts.baseItemInputs")}}
{{> (get . "sheet.parts.physicalItemInputs")}}
      <div class="flexrow flex-j-spaced spacing-bottom">
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.skills.singular"~}}
          <select name="data.skill">
            {{~selectOptions sheet.skills selected=data.data.skill~}}
          </select>
        </label>
        <label class="contained-target-inline flex-fixed">
          {{~localize "wv.rules.equipment.weapon.strengthRequirement.long"~}}
          <input class="size-2" type="number" name="data.strengthRequirement.source" value="{{data.data.strengthRequirement.source}}" min="0" max="15" />
        </label>
        <label class="contained-target-inline flex-fixed flex-center">
          {{~localize "wv.rules.equipment.weapon.holdout"~}}
          <input type="checkbox" name="data.holdout" {{checked data.data.holdout}} />
        </label>
      </div>
      <div class="flexrow flex-j-spaced align-baseline spacing-bottom">
        <span class="flex-fixed">{{localize "wv.rules.equipment.weapon.reload.name"}}:</span>
        <label class="contained-target-inline flex-fixed" title="{{localize 'wv.rules.actionPoints.use'}}">
          {{~localize "wv.rules.actionPoints.use"~}}
          <input type="number" class="size-2" name="data.reload.ap.source" value="{{data.data.reload.ap.source}}" min="0" />
        </label>
        <span class="flex-fixed no-wrap">
          <input type="number" class="size-3" name="data.reload.size.source" value="{{data.data.reload.size.source}}" min="0" title="{{localize 'wv.rules.equipment.weapon.reload.containerSize'}}" />
          <span>*</span>
          <select name="data.reload.caliber" title="{{localize 'wv.rules.equipment.ammo.caliber'}}">
            {{~selectOptions sheet.reload.calibers selected=data.data.reload.caliber~}}
          </select>
        </span>
        <select class="flex-fixed" name="data.reload.containerType" title="{{localize 'wv.rules.equipment.weapon.reload.containerType'}}">
          {{~selectOptions sheet.reload.containerTypes selected=data.data.reload.containerType~}}
        </select>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col" class="align-left">{{localize "wv.rules.range.singular"}}</th>
            <th scope="col" class="align-left">{{localize "wv.rules.range.distance.name"}}</th>
            <th scope="col" class="align-left">{{localize "wv.system.misc.modifier"}}</th>
            <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.short.long"}}</th>
            <td class="align-left">
              <input type="number" class="size-3" name="data.ranges.short.distance.base.source" value="{{data.data.ranges.short.distance.base.source}}" min="0" />
              <span>+</span>
              <input type="number" class="size-2" name="data.ranges.short.distance.multiplier.source" value="{{data.data.ranges.short.distance.multiplier.source}}" min="0" />
              <span>*</span>
              <select name="data.ranges.short.distance.special">
                {{~selectOptions sheet.specials selected=data.data.ranges.short.distance.special~}}
              </select>
            </td>
            <td class="align-left">
              <input type="number" class="size-3" name="data.ranges.short.modifier.source" value="{{data.data.ranges.short.modifier.source}}" />
            </td>
            <td class="align-left">
              <input type="text" name="data.ranges.short.tags" value="{{data.data.ranges.short.tags}}" />
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.medium.long"}}</th>
            <td class="align-left">
              <input type="number" class="size-3" name="data.ranges.medium.distance.base.source" value="{{data.data.ranges.medium.distance.base.source}}" min="0" />
              <span>+</span>
              <input type="number" class="size-2" name="data.ranges.medium.distance.multiplier.source" value="{{data.data.ranges.medium.distance.multiplier.source}}" min="0" />
              <span>*</span>
              <select name="data.ranges.medium.distance.special">
                {{~selectOptions sheet.specials selected=data.data.ranges.medium.distance.special~}}
              </select>
            </td>
            <td class="align-left">
              <input type="number" class="size-3" name="data.ranges.medium.modifier.source" value="{{data.data.ranges.medium.modifier.source}}" />
            </td>
            <td class="align-left">
              <input type="text" name="data.ranges.medium.tags" value="{{data.data.ranges.medium.tags}}" />
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.long.long"}}</th>
            <td class="align-left">
              <input type="number" class="size-3" name="data.ranges.long.distance.base.source" value="{{data.data.ranges.long.distance.base.source}}" min="0" />
              <span>+</span>
              <input type="number" class="size-2" name="data.ranges.long.distance.multiplier.source" value="{{data.data.ranges.long.distance.multiplier.source}}" min="0" />
              <span>*</span>
              <select name="data.ranges.long.distance.special">
                {{~selectOptions sheet.specials selected=data.data.ranges.long.distance.special~}}
              </select>
            </td>
            <td class="align-left">
              <input type="number" class="size-3" name="data.ranges.long.modifier.source" value="{{data.data.ranges.long.modifier.source}}" />
            </td>
            <td class="align-left">
              <input type="text" name="data.ranges.long.tags" value="{{data.data.ranges.long.tags}}" />
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
            <th scope="col" class="align-left">{{localize "wv.rules.damage.long"}}</th>
            <th scope="col" class="align-left">{{localize "wv.rules.damage.threshold.reduction.short"}}</th>
            <th scope="col" class="align-left">{{localize "wv.rules.equipment.weapon.shots"}}</th>
            <th scope="col" class="align-left">{{localize "wv.rules.actionPoints.use"}}</th>
            <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
            <th scope="col" class="align-right">
              <button type="button" class="control small weapon-attack-control fas fa-plus parchment-bg" data-action="create" title="{{localize 'wv.system.actions.create'}}"></button>
            </th>
          </tr>
        </thead>
        <tbody>
          {{~#each data.data.attacks.attacks as |attack|~}}
            <tr class="weapon-attack">
              <th scope="row" class="align-left">
                <input type="text" name="sheet.attacks.name.{{@key}}" value="{{@key}}" />
              </th>
              <td class="align-left">
                <input type="number" class="size-2" name="data.attacks.sources.{{@key}}.damage.base.source" value="{{attack.damage.base.source}}" min="0" title="{{localize 'wv.rules.damage.baseDamage'}}" />
                <span>+</span>
                <input type="number" class="size-2" name="data.attacks.sources.{{@key}}.damage.dice.source" value="{{attack.damage.dice.source}}" min="0" title="{{localize 'wv.rules.damage.damageDice'}}" />
                <span>d6</span>
                <input type="checkbox" name="data.attacks.sources.{{@key}}.damage.diceRange" {{checked attack.damage.diceRange}} title="{{localize 'wv.rules.damage.diceRange'}}" />
                <select name="data.attacks.sources.{{@key}}.damage.damageFallOff" title="{{localize 'wv.rules.damage.fallOff.name'}}">
                  {{~selectOptions ../sheet.damageFallOffTypes selected=attack.damage.damageFallOff~}}
                </select>
              </td>
              <td class="align-left">
                <input type="number" class="size-2" name="data.attacks.sources.{{@key}}.dtReduction.source" value="{{attack.dtReduction.source}}" min="0" />
              </td>
              <td class="align-left">
                <input type="number" class="size-2" name="data.attacks.sources.{{@key}}.rounds.source" value="{{attack.rounds.source}}" min="0" />
              </td>
              <td class="align-left">
                <input type="number" class="size-2" name="data.attacks.sources.{{@key}}.ap.source" value="{{attack.ap.source}}" min="0" />
              </td>
              <td class="align-left">
                <input type="text" name="data.attacks.sources.{{@key}}.tags" value="{{attack.tags}}" />
              </td>
              <td class="align-right">
                <button type="button" class="control small weapon-attack-control fas fa-minus" data-action="delete" data-attack="{{@key}}" title="{{localize 'wv.system.actions.delete'}}"></button>
              </td>
            </tr>
          {{~/each~}}
        </tbody>
      </table>
    </div>

    <div class="tab" data-group="primary" data-tab="rules">
{{> (get . "sheet.parts.rules")}}
    </div>
  </section>
</form>
