<div class="resource-block flex-fixed spacing-bottom">
  <label class="contained-target-inline">
    {{~localize "wv.system.misc.name"~}}
    <input type="text" name="data.name" value="{{data.data.name}}" />
  </label>
</div>
<div class="resource-block flex-fixed spacing-bottom">
  <label>
    {{~localize "wv.system.misc.description"~}}
    <textarea class="resize-vertical" name="data.description">{{data.data.description}}</textarea>
  </label>
</div>
<div class="resource-block flex-fixed spacing-bottom">
  <label>
    {{~localize "wv.system.misc.notes"~}}
    <textarea class="resize-vertical" name="data.notes">{{data.data.notes}}</textarea>
  </label>
</div>
<div class="resource-block flex-fixed spacing-bottom">
  <label class="contained-target-inline">
    {{~localize "wv.system.misc.tags"~}}
    <input type="text" name="data.tags" value="{{data.data.tags}}" />
  </label>
</div>
