<div class="general-info flexrow spacing-bottom flex-j-spaced">
  {{~#if sheet.rarity~}}
    <span class="general-info-element flex-fixed" title="{{localize "wv.rules.equipment.rarity.name"}}">
      <span class="fas fa-gem"></span><select name="data.rarity">
        {{~selectOptions sheet.rarity.rarities selected=data.data.rarity~}}
      </select>
    </span>
  {{~/if~}}
  {{~#if data.data.value.source includeZero=true ~}}
    <span class="general-info-element flex-fixed" title="{{localize "wv.rules.equipment.value.name"}}">
      <span class="fas fa-coins"></span><input class="size-4" type="number" name="data.value.source" value="{{data.data.value.source}}" />
    </span>
  {{~/if~}}
  {{~#if data.data.weight.source includeZero=true ~}}
    <span class="general-info-element flex-fixed" title="{{localize "wv.rules.equipment.weight.name"}}">
      <span class="fas fa-weight"></span><input class="size-3" type="number" name="data.weight.source" value="{{data.data.weight.source}}" />
    </span>
  {{~/if~}}
  {{~#if data.data.amount includeZero=true ~}}
    <span class="general-info-element flex-fixed" title="{{localize "wv.system.values.amount"}}">
      <span class="fas fa-hashtag"></span><input class="size-3" type="number" name="data.amount" value="{{data.data.amount}}" />
    </span>
  {{~/if~}}
</div>
