<section class="rule-elements">
  <button type="button" class="control rule-element-control fas fa-plus" data-action="create" title="{{localize 'wv.system.actions.create'}}"></button>
  <ol class="rule-element-list">
    {{#each sheet.rules.elements as |element|}}
      <li class="rule-element" data-index="{{@index}}">
        <div class="rule-element-header">
          <h4>{{element.label}}</h4>
          <div class="rule-element-icons">
            {{#if element.hasErrors}}
              <span class="rule-element-error-icon fas fa-exclamation-circle"></span>
            {{/if}}
            {{#if element.hasWarnings}}
              <span class="rule-element-warning-icon fas fa-exclamation-triangle"></span>
            {{/if}}
          </div>
          <div class="rule-element-controls">
            <button type="button" class="control rule-element-control fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
          </div>
        </div>
        <textarea class="rule-element-source" name="sheet.rules.{{@index}}" required rows="8">{{element.source}}</textarea>
        <ul class="rule-element-messages fa-ul">
          {{#each element.messages as |message|}}
            <li class="{{message.cssClass}}">
              <span class="fa-li">
                <span class="fas {{message.iconClass}}"></span>
              </span>
              {{message.message}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ol>
</section>
