<form class="{{cssClass}} flexcol" autocomplete="off">

{{>(get . "sheet.parts.header")}}

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.system.misc.statistics"}}</a>
    <a class="item" data-tab="effects">{{localize "wv.system.effect.plural"}}</a>
    <a class="item" data-tab="equipment">{{localize "wv.rules.equipment.name"}}</a>
    <a class="item" data-tab="inventory">{{localize "wv.rules.equipment.inventory"}}</a>
    <a class="item" data-tab="magic">{{localize "wv.rules.magic.magic"}}</a>
    <a class="item" data-tab="background">{{localize "wv.rules.background.background"}}</a>
  </nav>

  <section class="content">
    <section class="tab active stats" data-group="primary" data-tab="stats">
{{>(get . "sheet.parts.stats")}}
    </section>

    <section class="tab effects" data-group="primary" data-tab="effects">
{{>(get . "sheet.parts.effects")}}
    </section>

    <section class="tab equipment" data-group="primary" data-tab="equipment">
{{>(get . "sheet.parts.equipment")}}
    </section>

    <section class="tab inventory" data-group="primary" data-tab="inventory">
{{>(get . "sheet.parts.inventory")}}
    </section>

    <section class="tab magic" data-group="primary" data-tab="magic">
{{>(get . "sheet.parts.magic")}}
    </section>

    <section class="tab background" data-group="primary" data-tab="background">
{{>(get . "sheet.parts.background")}}
    </section>
  </section>

</form>
