<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header flexrow flex-fixed">
    <img class="document-img flex-fixed" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="document-info">
      <h1 class="document-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'wv.system.misc.name'}}" /></h1>
      <div class="header-fields">
        <div class="leveling-and-karma flexrow">
          <div class="resource-block resource-block-line flex-fixed">
            <label class="contained-target-inline">
              {{localize "wv.rules.leveling.level"}}
              <span class="resource-display size-2">{{data.data.leveling.level}}</span>
            </label>
          </div>
          <div class="resource-block resource-block-line flex-fixed">
            <label class="contained-target-inline">
              {{localize "wv.rules.leveling.experience"}}
              <input class="size-5" type="number" name="data.leveling.experience" value="{{data.data.leveling.experience}}" min="{{sheet.bounds.experience.min}}" max="{{sheet.bounds.experience.max}}" />
            </label>
          </div>
          <div class="resource-block resource-block-line flex-fixed">
            <label class="contained-target-inline">
              {{localize "wv.rules.karma"}}
              <input class="size-4" type="number" name="data.background.karma" value="{{data.data.background.karma}}" min="{{sheet.bounds.karma.min}}" max="{{sheet.bounds.karma.max}}" />
            </label>
          </div>
        </div>
        <div class="main-resources flexrow">
          <div class="health resource-block flex-fixed">
            <label class="contained-target-inline resource-block-line">
              {{localize "wv.rules.health.health"}}
              <div class="resource-display">
                <input class="size-2" type="number" name="data.vitals.hitPoints.value" value="{{data.data.vitals.hitPoints.value}}" min="0" max="{{data.data.vitals.hitPoints.max}}" />
                <span>&nbsp;/&nbsp;</span>
                <span class="size-2">{{data.data.vitals.hitPoints.max}}</span>
              </div>
            </label>
            <label class="contained-target-inline resource-block-line">
              {{localize "wv.rules.health.healingRate"}}
              <span class="resource-display size-1">{{data.data.vitals.healingRate}}</span>
            </label>
          </div>
          <div class="action-points resource-block flex-fixed resource-block-line">
            <label class="contained-target-inline">
              {{localize "wv.rules.actionPoints.long"}}
              <div class="resource-display">
                <input class="size-2" type="number" name="data.vitals.actionPoints.value" value="{{data.data.vitals.actionPoints.value}}" min="0" max="{{data.data.vitals.actionPoints.max}}" />
                <span>&nbsp;/&nbsp;</span>
                <span class="size-2">{{data.data.vitals.actionPoints.max}}</span>
              </div>
            </label>
          </div>
          <div class="strain resource-block flex-fixed resource-block-line">
            <label class="contained-target-inline">
              {{localize "wv.rules.magic.strain"}}
              <div class="resource-display">
                <input class="size-2" type="number" name="data.vitals.strain.value" value="{{data.data.vitals.strain.value}}" min="0" max="{{data.data.vitals.strain.max}}" />
                <span>&nbsp;/&nbsp;</span>
                <span class="resource-display size-2">{{data.data.vitals.strain.max}}</span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.system.misc.statistics"}}</a>
    <a class="item" data-tab="effects">{{localize "wv.system.effect.plural"}}</a>
    <a class="item" data-tab="inventory">{{localize "wv.rules.equipment.inventory"}}</a>
    <a class="item" data-tab="magic">{{localize "wv.rules.magic.magic"}}</a>
    <a class="item" data-tab="background">{{localize "wv.rules.background.background"}}</a>
  </nav>

  <section class="content">
    <div class="tab active" data-group="primary" data-tab="stats">
      <section class="stats">
        <div>
          <div class="resource-block grid-3cols standard-grid-gaps flex-center">
            <label>{{localize "wv.rules.special.singular"}}</label>
            <label>{{localize "wv.system.values.total"}}</label>
            <label>{{localize "wv.system.rolls.imperative"}}</label>
            {{#each sheet.specials as | spec |}}
              <label>{{spec.long}}</label>
              <input class="size-2" type="number" name="data.specials.{{@key}}" value="{{spec.value}}" min="{{../sheet.bounds.special.points.min}}" max="{{../sheet.bounds.special.points.max}}" />
              <button data-special="{{@key}}" title="{{localize 'wv.system.rolls.modifierExplanation'}}" type="button">{{localize "wv.system.rolls.imperative"}}</button>
            {{/each}}
          </div>
          <div class="resource-block flex-fixed">
            <h4 class="resource-block-line">{{localize "wv.rules.criticals.title"}}</h4>
            <label class="contained-target-inline resource-block-line">
              {{localize "wv.rules.criticals.success"}}
              <span class="resource-display size-2">{{data.data.secondary.criticals.success}}</span>
            </label>
            <label class="contained-target-inline resource-block-line">
              {{localize "wv.rules.criticals.failure"}}
              <span class="resource-display size-3">{{data.data.secondary.criticals.failure}}</span>
            </label>
          </div>
        </div>
        <div class="resource-block grid-5cols standard-grid-gaps flex-center">
          <label>{{localize "wv.rules.skills.singular"}}</label>
          <label>{{localize "wv.rules.special.singular"}}</label>
          <label>{{localize "wv.system.values.total"}}</label>
          <label>{{localize "wv.rules.skills.points.short"}}</label>
          <label>{{localize "wv.system.rolls.imperative"}}</label>
          {{#each sheet.skills as | skill |}}
            <label>{{skill.name}}</label>
            <label>{{skill.special}}</label>
            <span class="resource-display size-3">{{skill.total}}</span>
            <input class="size-3" type="number" name="data.leveling.skillRanks.{{@key}}" value="{{skill.ranks}}" min="{{../sheet.bounds.skills.points.min}}" max="{{../sheet.bounds.skills.points.max}}" />
            <button data-skill="{{@key}}" title="{{localize 'wv.system.rolls.modifierExplanation'}}" type="button">{{localize "wv.system.rolls.imperative"}}</button>
          {{/each}}
        </div>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="effects">
      <section class="effects">
        <button type="button" class="control effect-control fas fa-plus" data-action="create" data-type="effect" title="{{localize 'wv.system.actions.create'}}"></button>
        <ol class="fvtt-item-list">
          {{#each sheet.effects as |effect|}}
            <li class="fvtt-item effect" data-id="{{effect.id}}">
              {{#if effect.img}}
                <img src="{{effect.img}}" />
              {{/if}}
              <h4>{{effect.name}}</h4>
              <div class="fvtt-item-controls flexrow">
                <button type="button" class="control effect-control fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button>
                <button type="button" class="control effect-control fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
              </div>
            </li>
          {{/each}}
        </ol>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="inventory">
      <section class="inventory">
        <h3>{{localize "wv.rules.equipment.weapon.plural"}}</h3>
        <section class="weapons">
          <ol class="fvtt-item-list">
            {{#each sheet.weapons as |weapon|}}
              <li class="fvtt-item weapon" data-id="{{weapon.id}}">
                {{#if weapon.img}}
                  <img src="{{weapon.img}}" />
                {{/if}}
                <h4>{{weapon.name}}</h4>
                <div class="fvtt-item-controls flexrow">
                  <button type="button" class="control weapon-control fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button>
                  <button type="button" class="control weapon-control fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
                </div>
              </li>
            {{/each}}
          </ol>
        </section>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="magic">
      <section class="magic">
        <label class="contained-target-inline thaum-special">
          {{localize "wv.system.thaumSpecial"}}
          <select name="data.magic.thaumSpecial">
            {{selectOptions sheet.magic.thaumSpecials selected=data.data.magic.thaumSpecial}}
          </select>
        </label>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="background">
      <section class="background">
        <section>
          <label class="contained-target-inline">
            {{localize "wv.rules.race.singular"}}
            <select name="data.background.race">
              {{selectOptions sheet.background.races selected=data.data.background.race}}
            </select>
          </label>
          <label class="contained-target-inline">
            {{localize "wv.rules.background.gender"}}
            <input type="text" name="data.background.gender" value="{{data.data.background.gender}}" />
          </label>
          <label class="contained-target-inline">
            {{localize "wv.rules.background.age"}}
            <input type="text" name="data.background.age" value="{{data.data.background.age}}" />
          </label>
          <label class="contained-target-inline">
            {{localize "wv.rules.background.virtue"}}
            <input type="text" name="data.background.virtue" value="{{data.data.background.virtue}}" />
          </label>
          <label class="contained-target-inline">
            {{localize "wv.rules.background.specialTalent"}}
            <input type="text" name="data.background.specialTalent" value="{{data.data.background.specialTalent}}" />
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.appearance"}}
            <textarea name="data.background.appearance">{{data.data.background.appearance}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.cutieMark"}}
            <textarea name="data.background.cutieMark">{{data.data.background.cutieMark}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.background"}}
            <textarea name="data.background.background">{{data.data.background.background}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.personality"}}
            <textarea name="data.background.personality">{{data.data.background.personality}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.fears"}}
            <textarea name="data.background.fears">{{data.data.background.fears}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.dreams"}}
            <textarea name="data.background.dreams">{{data.data.background.dreams}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.rules.background.socialContacts"}}
            <textarea name="data.background.socialContacts">{{data.data.background.socialContacts}}</textarea>
          </label>
        </section>
      </section>
    </div>
  </section>

</form>
