<section class="rule-elements">
  <button type="button" class="control rule-element-control fas fa-plus" data-action="create" title="{{localize 'wv.ruleEngine.ruleElement.create'}}"></button>
  <ol class="rule-element-list">
    {{#each sheet.rules.elements as |element|}}
      <li class="rule-element{{ternary element.isNew ' new-element' ''}}{{ternary element.hasErrors ' errornous-element' ''}}" data-index="{{@index}}">
        <div class="rule-element-header">
          <h4>{{element.source.label}}</h4>
          <div class="rule-element-controls">
            <button type="button" class="control rule-element-control fas fa-minus" data-action="delete" title="{{localize 'wv.ruleEngine.ruleElement.delete'}}"></button>
          </div>
        </div>
        <textarea class="rule-element-source" name="sheet.rules.{{@index}}" required rows="7">{{jsonPretty element.source}}</textarea>
        {{#if element.hasErrors}}
          <ul>
            {{#each element.errorKeys as |errorKey|}}
              <li>{{localize errorKey}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</section>
