<section class="rule-elements">
  <button type="button" class="control rule-element-control fas fa-plus" data-action="create" title="{{localize 'wv.ruleEngine.ruleElement.create'}}"></button>
  <ol class="rule-element-list">
    {{#each sheet.rules.elements as |element|}}
      <li class="rule-element{{ternary element.isNew ' new-element' ''}}{{ternary element.hasErrors ' errornous-element' ''}}" data-index="{{@index}}">
        <div class="rule-element-header">
          <h4>{{element.source.label}}</h4>
          <div class="rule-element-icons">
            {{#if element.isNew}}
              <span class="rule-element-new-icon fas fa-star-of-life"></span>
            {{/if}}
            {{#if element.hasErrors}}
              <span class="rule-element-error-icon fas fa-exclamation-circle"></span>
            {{/if}}
            {{#if element.hasWarnings}}
              <span class="rule-element-warning-icon fas fa-exclamation-triangle"></span>
            {{/if}}
          </div>
          <div class="rule-element-controls">
            <button type="button" class="control rule-element-control fas fa-minus" data-action="delete" title="{{localize 'wv.ruleEngine.ruleElement.delete'}}"></button>
          </div>
        </div>
        <textarea class="rule-element-source" name="sheet.rules.{{@index}}" required rows="7">{{jsonPretty element.source}}</textarea>
        {{#if element.hasErrors}}
          <ul class="rule-element-errors fa-ul">
            {{#each element.errorKeys as |errorKey|}}
              <li><span class="fa-li"><span class="fas fa-exclamation-circle"></span></span>{{localize errorKey}}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if element.hasWarnings}}
          <ul class="rule-element-warnings fa-ul">
            {{#each element.warningKeys as |warningKey|}}
              <li><span class="fa-li"><span class="fas fa-exclamation-triangle"></span></span>{{localize warningKey}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</section>
