<form autocomplete="off">
  <div class="flexrow">
    <div class="wv-level grid-2cols standard-grid-gaps">
      <span>{{localize "wv.labels.secondary.level"}}</span>
      <div>{{secondary.level}}</div>
      <span>{{localize "wv.labels.secondary.experience"}}</span>
      <div>{{secondary.experience}}</div>
    </div>
    <div class="wv-health">
      <span>{{localize "wv.labels.secondary.health"}}</span>
      <div>{{secondary.health.value}}/{{secondary.health.max}}</div>
    </div>
    <div class="wv-action-points">
      <span>{{localize "wv.labels.secondary.action_points"}}</span>
      <div>{{secondary.action_points.value}}/{{secondary.action_points.max}}</div>
    </div>
    <div class="wv-criticals">
      <span>{{localize "wv.labels.secondary.criticals"}}</span>
      <div class="grid-2cols standard-grid-gaps">
        <span>{{localize "wv.labels.secondary.criticals.success"}}</span>
        <span>{{localize "wv.labels.secondary.criticals.failure"}}</span>
        <div>{{secondary.criticals.success}}</div>
        <div>{{secondary.criticals.failure}}</div>
      </div>
    </div>
    <div class="wv-initiative">
      <span>{{localize "wv.labels.secondary.initiative"}}</span>
      <div>1d10 + {{special.[1].value}}</div>
    </div>
  </div>
  <div class="wv-special-and-skills">
    <div class="grid-2cols standard-grid-gaps">
      <span>{{localize "wv.labels.special.name"}}</span>
      <span>{{localize "wv.labels.special.value"}}</span>
      {{#each special as |spec|}}
      <span>{{localize spec.name}}</span>
      <div>{{spec.value}}</div>
      {{/each}}
    </div>
    <div class="grid-2cols standard-grid-gaps">
      <span>{{localize "wv.labels.skills.name"}}</span>
      <span>{{localize "wv.labels.skills.value"}}</span>
      {{#each skills as |skill|}}
      <span>{{localize skill.name}}</span>
      <div>{{skill.value}}</div>
      {{/each}}
    </div>
  </div>
</form>
