<form autocomplete="off">
  <div class="flexrow">
    <div class="wv-level grid-2cols">
      <span>{{localize "wv.labels.secondary.level"}}</span>
      <div>{{secondary.level}}</div>
      <span>{{localize "wv.labels.secondary.experience"}}</span>
      <div>{{secondary.experience}}</div>
    </div>
    <div class="wv-health">
      <span>{{localize "wv.labels.secondary.health"}}</span>
      <div>{{secondary.health.value}}/{{secondary.health.max}}</div>
    </div>
  </div>
  <div class="wv-special-and-skills">
    <div class="wv-special-grid grid-2cols">
      <span>{{localize "wv.labels.special.name"}}</span>
      <span>{{localize "wv.labels.special.value"}}</span>
      {{#each special as |spec|}}
      <span>{{localize spec.name}}</span>
      <div>{{spec.value}}</div>
      {{/each}}
    </div>
    <div class="wv-skill-grid grid-2cols">
      <span>{{localize "wv.labels.skills.name"}}</span>
      <span>{{localize "wv.labels.skills.value"}}</span>
      {{#each skills as |skill|}}
      <span>{{localize skill.name}}</span>
      <div>{{skill.value}}</div>
      {{/each}}
    </div>
  </div>
</form>
