<div class="lighter-block detail-section">
  <div>
    <div class="roll-summary">
      <label class="roll-summary-label">{{localize template.keys.success}}</label>
      <div class="roll-summary-result">{{roll.result}}</div>
    </div>
    <div class="roll-summary">
      <label class="roll-summary-label">{{localize template.keys.degrees}}</label>
      <div class="roll-summary-result">{{roll.degree}}</div>
    </div>
  </div>
  <div class="detail-content hide">
    <div class="roll-details">
      <div class="dice-formula">{{roll.formula}}</div>
      <ul class="dice-rolls">
        <li class="roll d100">{{roll.result}}</li>
      </ul>
    </div>
  </div>
</div>