{{#if weaponImage~}}
  <img src="{{weaponImage}}" />
{{~/if}}
<h3>{{template.raw.mainHeading}}</h3>
<h4>{{template.raw.subHeading}}</h4>

{{#if weaponSystemData.notes~}}
  <p>{{weaponSystemData.notes}}</p>
{{~/if}}

{{!attack details}}
<div class="detail-section">
  <span>{{localize "wv.system.misc.details"}}</span>
  <div class="detail-content hide">
    <div class="spacing-bottom">
      <span>{{localize "wv.rules.range.singular"}}</span>
      <ul class="no-margin">
        <li>{{localize "wv.rules.range.plural"}}: {{template.raw.displayRanges}}</li>
        <li>{{localize "wv.rules.range.singular"}}: {{localize template.keys.rangeBracket}}</li>
        <li>{{localize "wv.rules.range.distance"}}: {{details.range.distance}}</li>
      </ul>
    </div>
    <div class="spacing-bottom">
      <span>{{localize "wv.rules.actionPoints.long"}}</span>
      <ul class="no-margin">
        <li>{{localize "wv.system.values.previous"}}: {{details.ap.previous}}</li>
        <li>{{localize "wv.system.values.cost"}}: {{details.ap.cost}}</li>
        <li>{{localize "wv.system.values.remaining"}}: {{details.ap.remaining}}</li>
      </ul>
    </div>
    <div class="spacing-bottom">
      <span>{{localize "wv.rules.criticals.title"}}</span>
      <ul class="no-margin">
        <li>{{localize "wv.rules.criticals.success"}}: {{details.criticals.success}}</li>
        <li>{{localize "wv.rules.criticals.failure"}}: {{details.criticals.failure}}</li>
      </ul>
    </div>
    <div class="modifier-listing">
      <div class="listing-heading">
        <span>{{localize "wv.rules.rolls.targets.hitChance"}}</span>
        <hr />
      </div>
      <div class="listing-table grid-2cols">
        <span>{{localize "wv.system.values.base"}}</span>
        <span class="align-right">{{details.hit.base}}</span>
        {{#each details.hit.modifiers as |modifier|~}}
          <span>{{localize modifier.key}}</span>
          <span class="align-right">{{modifier.amount}}</span>
        {{~/each}}
        <span class="listing-total">{{localize "wv.system.values.total"}}</span>
        <span class="listing-total align-right">{{details.hit.total}}</span>
      </div>
    </div>
    <div class="modifier-listing">
      <div class="listing-heading">
        <span>{{localize "wv.rules.damage.baseDamage"}}</span>
        <hr />
      </div>
      <div class="listing-table grid-2cols">
        <span>{{localize "wv.system.values.base"}}</span>
        <span class="align-right">{{details.damage.base.base}}</span>
        {{#each details.damage.base.modifiers as |modifier|~}}
          <span>{{localize modifier.key}}</span>
          <span class="align-right">{{modifier.amount}}</span>
        {{~/each}}
        <span class="listing-total">{{localize "wv.system.values.total"}}</span>
        <span class="listing-total align-right">{{details.damage.base.total}}</span>
      </div>
    </div>
    <div class="modifier-listing">
      <div class="listing-heading">
        <span>{{localize "wv.rules.damage.damageDice"}}</span>
        <hr />
      </div>
      <div class="listing-table grid-2cols">
        <span>{{localize "wv.system.values.base"}}</span>
        <span class="align-right">{{details.damage.dice.base}}</span>
        {{#each details.damage.dice.modifiers as |modifier|~}}
          <span>{{localize modifier.key}}</span>
          <span class="align-right">{{modifier.amount}}</span>
        {{~/each}}
        <span class="listing-total">{{localize "wv.system.values.total"}}</span>
        <span class="listing-total align-right">{{details.damage.dice.total}}</span>
      </div>
    </div>
  </div>
</div>

{{#if executed}}

  {{!hit roll}}
  <div class="detail-section">
    <div class="roll-summary">
      <label class="roll-summary-label">{{localize template.keys.hit}}</label>
      <div class="roll-summary-result">{{rolls.hit.result}}</div>
    </div>
    <div class="detail-content hide">
      <div class="roll-details">
        <div class="dice-formula">{{rolls.hit.formula}}</div>
        <ul class="dice-rolls">
          <li class="roll d100">{{rolls.hit.result}}</li>
        </ul>
      </div>
    </div>
  </div>

  {{!damage roll}}
  <div class="detail-section">
    <div class="roll-summary">
      <label class="roll-summary-label">{{localize "wv.rules.damage.long"}}</label>
      <div class="roll-summary-result">{{rolls.damage.total}}</div>
    </div>
    <div class="detail-content hide">
      <div class="roll-details">
        <div class="dice-formula">{{rolls.damage.formula}}</div>
        <ul class="dice-rolls">
          {{#each template.damage.results as |result|}}
            <li class="roll d6 {{result.class}}">{{result.value}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

{{else}}
  <span>{{localize template.keys.notExecutedReason}}</span>
{{/if}}
