{{~#if apparel~}}
  <div class="apparel-slot">
    <h3>{{apparel.name}}</h3>
    <div class="detail-groups">
      <div class="details">
        {{~#if apparel.sheet.type~}}
          <span>{{apparel.sheet.type}}</span>
        {{~/if~}}
        {{~#if apparel.data.damageThreshold.total~}}
          <span>{{localize "wv.rules.damage.threshold.short"}} {{apparel.data.damageThreshold.total}}</span>
        {{~/if~}}
        {{~#if apparel.data.quickSlots.total~}}
          <span>{{localize "wv.rules.equipment.slots.quickSlot.plural"}} {{apparel.data.quickSlots.total}}</span>
        {{~/if~}}
      </div>
      {{~#if apparel.data.notes~}}
        <div>{{apparel.data.notes}}</div>
      {{~/if~}}
    </div>
  </div>
{{~/if~}}
