<section>
  <label class="contained-target-inline">
    {{~localize "wv.rules.race.singular"~}}
    <select name="data.background.raceName">
      {{selectOptions sheet.background.raceNames selected=data.data.background.race.name}}
    </select>
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.gender"~}}
    <input type="text" name="data.background.gender" value="{{data.data.background.gender}}" />
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.age"~}}
    <input type="text" name="data.background.age" value="{{data.data.background.age}}" />
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.virtue"~}}
    <input type="text" name="data.background.virtue" value="{{data.data.background.virtue}}" />
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.specialTalent"~}}
    <input type="text" name="data.background.specialTalent" value="{{data.data.background.specialTalent}}" />
  </label>
</section>
<section>
  <label>{{localize "wv.rules.background.appearance"}}</label>
  {{editor target="data.background.appearance" content=data.data.background.appearance owner=owner editable=editable button=true}}
</section>
<section>
  <label>{{localize "wv.rules.background.cutieMark"}}</label>
  {{editor target="data.background.cutieMark" content=data.data.background.cutieMark owner=owner editable=editable button=true}}
</section>
<section>
  <label>{{localize "wv.rules.background.background"}}</label>
  {{editor target="data.background.background" content=data.data.background.background owner=owner editable=editable button=true}}
</section>
<section>
  <label>{{localize "wv.rules.background.personality"}}</label>
  {{editor target="data.background.personality" content=data.data.background.personality owner=owner editable=editable button=true}}
</section>
<section>
  <label>{{localize "wv.rules.background.fears"}}</label>
  {{editor target="data.background.fears" content=data.data.background.fears owner=owner editable=editable button=true}}
</section>
<section>
  <label>{{localize "wv.rules.background.dreams"}}</label>
  {{editor target="data.background.dreams" content=data.data.background.dreams owner=owner editable=editable button=true}}
</section>
<section>
  <label>{{localize "wv.rules.background.socialContacts"}}</label>
  {{editor target="data.background.socialContacts" content=data.data.background.socialContacts owner=owner editable=editable button=true}}
</section>
