<section>
  <label class="contained-target-inline">
    {{~localize "wv.rules.race.singular"~}}
    <select name="data.background.raceName">
      {{selectOptions sheet.background.raceNames selected=data.data.background.race.name}}
    </select>
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.gender"~}}
    <input type="text" name="data.background.gender" value="{{data.data.background.gender}}" />
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.age"~}}
    <input type="text" name="data.background.age" value="{{data.data.background.age}}" />
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.virtue"~}}
    <input type="text" name="data.background.virtue" value="{{data.data.background.virtue}}" />
  </label>
  <label class="contained-target-inline">
    {{~localize "wv.rules.background.specialTalent"~}}
    <input type="text" name="data.background.specialTalent" value="{{data.data.background.specialTalent}}" />
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.appearance"~}}
    <textarea name="data.background.appearance">{{data.data.background.appearance}}</textarea>
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.cutieMark"~}}
    <textarea name="data.background.cutieMark">{{data.data.background.cutieMark}}</textarea>
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.background"~}}
    <textarea name="data.background.background">{{data.data.background.background}}</textarea>
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.personality"~}}
    <textarea name="data.background.personality">{{data.data.background.personality}}</textarea>
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.fears"~}}
    <textarea name="data.background.fears">{{data.data.background.fears}}</textarea>
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.dreams"~}}
    <textarea name="data.background.dreams">{{data.data.background.dreams}}</textarea>
  </label>
</section>
<section>
  <label>
    {{~localize "wv.rules.background.socialContacts"~}}
    <textarea name="data.background.socialContacts">{{data.data.background.socialContacts}}</textarea>
  </label>
</section>
