<section class="weapons">
  <h3>{{localize "wv.rules.equipment.weapon.plural"}}</h3>
  <ol class="fvtt-item-list">
    {{#each sheet.weapons as |weapon|}}
      <li class="fvtt-item weapon" data-item-id="{{weapon.id}}">
        {{~#if weapon.img~}}
          <img src="{{weapon.img}}" />
        {{~/if~}}
        <h4>{{weapon.name}}</h4>
        <div class="fvtt-item-controls flexrow">
          <button type="button" class="control weapon-control fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button>
          <button type="button" class="control weapon-control fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
        </div>
      </li>
    {{/each}}
  </ol>
</section>
