<section>
  <h3>{{localize "wv.rules.equipment.slots.names.readiedItem"}}</h3>
  <div class="lighter-block equipment-slot" data-equipment-slot="readiedItem">
    <div class="equipment-slot-status">
    {{~#if (eq sheet.equipment.readiedItem.type "weapon")~}}
{{>(get . "sheet.parts.weaponSlot") weapon=sheet.equipment.readiedItem readied=true}}
    {{~/if~}}
    </div>
    <div class="equipment-slot-target">
      <div class="ready-item-cost direct">{{sheet.equipment.readyItemCost.direct}} {{localize "wv.rules.actionPoints.short"}}</div>
      <div class="lighter-block ready-item-cost from-quick-slot" data-equipment-slot-extra="quickSlot">
        <div>{{sheet.equipment.readyItemCost.fromSlot}} {{localize "wv.rules.actionPoints.short"}}</div>
        <div>({{localize "wv.rules.equipment.slots.quickSlot.singular"}})</div>
      </div>
      <div class="ready-item-cost from-weapon-slot">
        <div>{{sheet.equipment.readyItemCost.fromSlot}} {{localize "wv.rules.actionPoints.short"}}</div>
        <div>({{localize "wv.rules.equipment.slots.weaponSlot.singular"}})</div>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>{{localize "wv.rules.equipment.slots.weaponSlot.plural"}}</h3>
  <div class="flexrow weapon-slots">
    <div class="lighter-block equipment-slot" data-equipment-slot="weaponSlot1" data-item-id="{{sheet.equipment.weaponSlots.[0]._id}}">
{{>(get . "sheet.parts.weaponSlot") weapon=sheet.equipment.weaponSlots.[0] readied=false}}
    </div>
    <div class="lighter-block equipment-slot" data-equipment-slot="weaponSlot2" data-item-id="{{sheet.equipment.weaponSlots.[1]._id}}">
{{>(get . "sheet.parts.weaponSlot") weapon=sheet.equipment.weaponSlots.[1] readied=false}}
    </div>
  </div>
</section>
<section>
  <h3>{{localize "wv.rules.equipment.apparel.name"}}</h3>
  <div>{{localize "wv.rules.damage.threshold.long"}} {{data.data.equipment.damageThreshold}}</div>
  <div>{{localize "wv.rules.equipment.slots.quickSlot.plural"}} {{data.data.equipment.quickSlots.max}}</div>
</section>
