<button type="button" class="control item-control fas fa-plus" data-action="create" data-type="misc" title="{{localize 'wv.system.actions.create'}}"></button>
<table class="fvtt-item-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
      <th scope="col" class="align-right">{{localize "wv.rules.equipment.value.name"}}</th>
      <th scope="col" class="align-right">{{localize "wv.rules.equipment.weight.name"}}</th>
      <th scope="col" class="align-right">{{localize "wv.system.values.amount"}}</th>
      <th scope="col" class="align-right">{{localize "wv.rules.equipment.value.name"}}<br />({{localize "wv.system.values.total"}})</th>
      <th scope="col" class="align-right">{{localize "wv.rules.equipment.weight.name"}}<br />({{localize "wv.system.values.total"}})</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each sheet.inventory.items as |item|~}}
      <tr class="fvtt-item" data-item-id="{{item.id}}">
        <td class="min-width">
          {{~#if item.img~}}
            <img src="{{item.img}}" />
          {{~/if~}}
        </td>
        <td>{{item.name}}</td>
        <td class="align-right min-width">{{item.value}}</td>
        <td class="align-right min-width">{{item.weight}}</td>
        <td class="align-right min-width">
          {{#if item.amount~}}
            <input type="number" data-action="edit-amount" value="{{item.amount}}" />
          {{~/if}}
        </td>
        <td class="align-right min-width">{{item.totalValue}}</td>
        <td class="align-right min-width">{{item.totalWeight}}</td>
        <td class="min-width">
          <div class="fvtt-item-controls flexrow">
            <button type="button" class="control item-control fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button>
            <button type="button" class="control item-control fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
          </div>
        </td>
      </tr>
    {{~/each}}
  </tbody>
  <tfoot>
    <tr>
      <th class="align-right" colspan="5" scope="row">{{localize "wv.system.values.total"}}</th>
      <td class="align-right">{{sheet.inventory.totalValue}}</td>
      <td class="align-right">{{sheet.inventory.totalWeight}}</td>
      <td colspan="2"></td>
    </tr>
  </tfoot>
</table>
