<div class="flexrow">
  <section class="flex-fixed equipment-slots flexcol flex-gapped">
    <h4 class="flex-fixed no-margin">{{localize "wv.rules.equipment.slots.plural"}}</h4>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="readiedItem">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.readiedItem"}}</div>
      <div class="equipment-slot-status">
        <span>{{sheet.equipment.readiedItem.name}}</span>
      </div>
      <div class="equipment-slot-target lighter-block parchment-bg">
        <div class="ready-item-cost direct">{{sheet.equipment.readyItemCost.direct}} {{localize "wv.rules.actionPoints.short"}}</div>
        <div class="lighter-block ready-item-cost from-quick-slot" data-equipment-slot-extra="quickSlot">
          <div>{{sheet.equipment.readyItemCost.fromSlot}} {{localize "wv.rules.actionPoints.short"}}</div>
          <div>({{localize "wv.rules.equipment.slots.quickSlot.singular"}})</div>
        </div>
        <div class="ready-item-cost from-weapon-slot">
          <div>{{sheet.equipment.readyItemCost.fromSlot}} {{localize "wv.rules.actionPoints.short"}}</div>
          <div>({{localize "wv.rules.equipment.slots.weaponSlot.singular"}})</div>
        </div>
      </div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="weaponSlot1" data-item-id="{{sheet.equipment.weaponSlots.[0]._id}}">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.weaponSlot1"}}</div>
      <div>{{sheet.equipment.weaponSlots.[0].name}}</div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="weaponSlot2" data-item-id="{{sheet.equipment.weaponSlots.[1]._id}}">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.weaponSlot2"}}</div>
      <div>{{sheet.equipment.weaponSlots.[1].name}}</div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="armor">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.armor"}}</div>
      <div>{{sheet.equipment.armor.name}}</div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="clothing">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.clothing"}}</div>
      <div>{{sheet.equipment.clothing.name}}</div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="eyes">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.eyes"}}</div>
      <div>{{sheet.equipment.eyes.name}}</div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="mouth">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.mouth"}}</div>
      <div>{{sheet.equipment.mouth.name}}</div>
    </div>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="belt">
      <div class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.belt"}}</div>
      <div>{{sheet.equipment.belt.name}}</div>
    </div>
  </section>
  <div>
    <div class="flexrow controls-and-caps">
      <button type="button" class="control item-control fas fa-plus" data-action="create" data-type="misc" title="{{localize 'wv.system.actions.create'}}"></button>
      <label class="contained-target-inline flex-fixed">
        {{~localize "wv.rules.equipment.caps.plural"~}}
        <input class="size-5" type="number" name="data.equipment.caps" value="{{data.data.equipment.caps}}" />
      </label>
    </div>
    <table class="fvtt-item-table">
      <thead>
        <tr>
          <th scope="col" class="align-left"></th>
          <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.value.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weight.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.system.values.amount"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.value.name"}}<br />({{localize "wv.system.values.total"}})</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weight.name"}}<br />({{localize "wv.system.values.total"}})</th>
          <th scope="col" class="align-right"></th>
        </tr>
      </thead>
      <tbody>
        {{#each sheet.inventory.items as |item|~}}
          <tr data-item-id="{{item.id}}">
            <td class="align-left">
              {{~#if item.img~}}
                <img src="{{item.img}}" />
              {{~/if~}}
            </td>
            <td>{{item.name}}</td>
            <td class="align-right">{{item.value}}</td>
            <td class="align-right">{{item.weight}}</td>
            <td class="align-right zero-width">
              {{~#if item.amount~}}
                <input type="number" data-action="edit-amount" value="{{item.amount}}" />
              {{~/if~}}
            </td>
            <td class="align-right">{{item.totalValue}}</td>
            <td class="align-right">{{item.totalWeight}}</td>
            <td class="align-right no-wrap">
              <button type="button" class="control small item-control fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button
              ><button type="button" class="control small item-control fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
            </td>
          </tr>
        {{~/each}}
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="5" class="align-right">{{localize "wv.system.values.total"}}</th>
          <td class="align-right">{{sheet.inventory.totalValue}}</td>
          <td class="align-right">{{sheet.inventory.totalWeight}}/{{data.data.secondary.maxCarryWeight.total}}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
