<div class="flexrow">
  <section class="flex-fixed equipment-slots flexcol flex-gapped">
    <h4 class="flex-fixed no-margin">{{localize "wv.rules.equipment.slots.plural"}}</h4>
    <div class="flex-fixed lighter-block equipment-slot" data-equipment-slot="readiedItem" data-item-id="{{sheet.equipment.readiedItem._id}}">
      <div class="flexrow flex-j-spaced">
        <span class="equipment-slot-placeholder">{{localize "wv.rules.equipment.slots.names.readiedItem"}}</span>
        <nav class="flex-fixed flexrow no-wrap">
          {{~#if sheet.equipment.readiedItem~}}
            <button type="button" class="control small fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button>
            <button type="button" class="control small fas fa-minus" data-action="unequip" title="{{localize 'wv.system.actions.unequip'}}"></button>
          {{~/if~}}
        </nav>
      </div>
      <div>{{sheet.equipment.readiedItem.name}}</div>
      <div class="equipment-slot-target lighter-block parchment-bg">
        <div class="ready-item-cost direct">{{sheet.equipment.readyItemCost.direct}} {{localize "wv.rules.actionPoints.short"}}</div>
        <div class="lighter-block ready-item-cost from-quick-slot" data-equipment-slot-extra="quickSlot">
          <div>{{sheet.equipment.readyItemCost.fromSlot}} {{localize "wv.rules.actionPoints.short"}}</div>
          <div>({{localize "wv.rules.equipment.slots.quickSlot.singular"}})</div>
        </div>
        <div class="ready-item-cost from-weapon-slot">
          <div>{{sheet.equipment.readyItemCost.fromSlot}} {{localize "wv.rules.actionPoints.short"}}</div>
          <div>({{localize "wv.rules.equipment.slots.weaponSlot.singular"}})</div>
        </div>
      </div>
    </div>
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.weaponSlots.[0] slotName="weaponSlot1" i18nSlotName=(localize "wv.rules.equipment.slots.names.weaponSlot1")}}
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.weaponSlots.[1] slotName="weaponSlot2" i18nSlotName=(localize "wv.rules.equipment.slots.names.weaponSlot2")}}
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.armor slotName="armor" i18nSlotName=(localize "wv.rules.equipment.slots.names.armor")}}
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.clothing slotName="clothing" i18nSlotName=(localize "wv.rules.equipment.slots.names.clothing")}}
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.eyes slotName="eyes" i18nSlotName=(localize "wv.rules.equipment.slots.names.eyes")}}
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.mouth slotName="mouth" i18nSlotName=(localize "wv.rules.equipment.slots.names.mouth")}}
{{>(get . "sheet.parts.inventoryEquipmentSlot") item=sheet.equipment.belt slotName="belt" i18nSlotName=(localize "wv.rules.equipment.slots.names.belt")}}
  </section>
  <div>
    <div class="flexrow controls-and-caps">
      <button type="button" class="control fas fa-plus" data-action="create" data-type="misc" title="{{localize 'wv.system.actions.create'}}"></button>
      <label class="contained-target-inline flex-fixed">
        {{~localize "wv.rules.equipment.caps.plural"~}}
        <input class="size-5" type="number" name="data.equipment.caps" value="{{data.data.equipment.caps}}" />
      </label>
    </div>
    <table class="fvtt-item-table">
      <thead>
        <tr>
          <th scope="col" class="align-left"></th>
          <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.value.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weight.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.system.values.amount"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.value.name"}}<br />({{localize "wv.system.values.total"}})</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weight.name"}}<br />({{localize "wv.system.values.total"}})</th>
          <th scope="col" class="align-right"></th>
        </tr>
      </thead>
      <tbody>
        {{#each sheet.inventory.items as |item|~}}
          <tr data-item-id="{{item.id}}">
            <td class="align-left">
              {{~#if item.img~}}
                <img class="inline" src="{{item.img}}" />
              {{~/if~}}
            </td>
            <td>{{item.name}}</td>
            <td class="align-right">{{item.value}}</td>
            <td class="align-right">{{item.weight}}</td>
            <td class="align-right zero-width">
              {{~#if item.amount~}}
                <input type="number" data-action="edit-amount" value="{{item.amount}}" />
              {{~/if~}}
            </td>
            <td class="align-right">{{item.totalValue}}</td>
            <td class="align-right">{{item.totalWeight}}</td>
            <td class="align-right no-wrap">
              <button type="button" class="control small fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button
              ><button type="button" class="control small fas fa-minus" data-action="delete" title="{{localize 'wv.system.actions.delete'}}"></button>
            </td>
          </tr>
        {{~/each}}
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="5" class="align-right">{{localize "wv.system.values.total"}}</th>
          <td class="align-right">{{sheet.inventory.totalValue}}</td>
          <td class="align-right">{{sheet.inventory.totalWeight}}/{{data.data.secondary.maxCarryWeight.total}}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
