{{~#if weapon~}}
  <div class="weapon-slot" data-item-id="{{weapon._id}}">
    <h3 class="flexrow flex-j-spaced">
      <span>{{weapon.name}}</span>
      <button type="button" class="control small item-control fas fa-pen" data-action="edit" title="{{localize 'wv.system.actions.edit'}}"></button>
    </h3>
    <table>
      <thead>
        <tr>
          <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.damage.long"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.damage.threshold.reduction.short"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.actionPoints.use"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weapon.shots"}}</th>
          <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
        </tr>
      </thead>
      <tbody>
        {{~#each weapon.data.attacks.attacks as |attack|~}}
          <tr>
            <th scope="row" class="align-left">
              {{~#if ../readied~}}
                <button class="min-width no-wrap" type="button" title="{{localize 'wv.system.rolls.modifierExplanation'}}" data-weapon-attack-name="{{@key}}">{{@key}}</button>
              {{~else~}}
                {{@key}}
              {{~/if~}}
            </th>
            <td class="align-right no-wrap">{{attack.damage.damageFormula}} = {{attack.damage.damageRange}}</td>
            <td class="align-right">{{attack.dtReduction.total}}</td>
            <td class="align-right">{{attack.ap.total}}</td>
            <td class="align-right">{{attack.rounds.total}}</td>
            <td class="align-left tags">
              {{~#each attack.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </td>
          </tr>
        {{~/each~}}
      </tbody>
    </table>
    <table class="spacing-bottom">
      <thead>
        <tr>
          <th scope="col" class="align-left">{{localize "wv.rules.range.singular"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.range.distance.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.system.misc.modifier"}}</th>
          <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.short.long"}}</th>
          <td class="align-right">{{weapon.sheet.displayRanges.short}}{{sheet.systemGridUnit}}</td>
          <td class="align-right">{{weapon.data.ranges.short.modifier.total}}</td>
          <td class="align-left tags">
            {{~#each weapon.data.ranges.short.tags as |tag|~}}
              <span class="fas fa-tag tag">{{tag}}</span>
            {{~/each~}}
          </td>
        </tr>
        {{~#unless (eq "-" weapon.sheet.displayRanges.medium)~}}
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.medium.long"}}</th>
            <td class="align-right">{{weapon.sheet.displayRanges.medium}}{{sheet.systemGridUnit}}</td>
            <td class="align-right">{{weapon.data.ranges.medium.modifier.total}}</td>
            <td class="align-left tags">
              {{~#each data.data.ranges.medium.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </td>
          </tr>
        {{~/unless~}}
        {{~#unless (eq "-" weapon.sheet.displayRanges.long)~}}
          <tr>
            <th scope="row" class="align-left">{{localize "wv.rules.range.ranges.long.long"}}</th>
            <td class="align-right">{{weapon.sheet.displayRanges.long}}{{sheet.systemGridUnit}}</td>
            <td class="align-right">{{weapon.data.ranges.long.modifier.total}}</td>
            <td class="align-left tags">
              {{~#each weapon.data.ranges.long.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </td>
          </tr>
        {{~/unless~}}
      </tbody>
    </table>
    <div class="detail-groups">
      {{~#if weapon.data.reload.size.total~}}
        <section>
          <span>{{localize "wv.rules.equipment.weapon.reload.name"}}:</span>
          <span class="details">
            <span>{{weapon.data.reload.ap.total}} {{localize "wv.rules.actionPoints.short"}}</span
            ><span>{{weapon.data.reload.size.total}} * {{weapon.sheet.reload.caliber}}</span
            ><span>{{weapon.sheet.reload.containerType}}</span>
          </span>
        </section>
      {{~/if~}}
      <section class="details">
        <span>{{weapon.sheet.skill}}</span
        ><span>{{localize "wv.rules.equipment.weapon.strengthRequirement.short"}}: {{weapon.data.strengthRequirement.total}}</span>
        {{~#if weapon.data.holdout~}}
          <span>{{localize "wv.rules.equipment.weapon.holdout"}}</span>
        {{~/if~}}
      </section>
      {{~#if weapon.data.tags.length~}}
        <section class="tags">
          {{~#each weapon.data.tags as |tag|~}}
            <span class="fas fa-tag tag">{{tag}}</span>
          {{~/each~}}
        </section>
      {{~/if~}}
      {{~#if weapon.data.notes~}}
        <section>{{weapon.data.notes}}</section>
      {{~/if~}}
    </div>
  </div>
{{~/if~}}
