{{log weapon}}
{{log readied}}
<div class="weapon-slot" data-weapon-id="{{weapon._id}}">
  {{~#if weapon~}}
    <h3>{{weapon.name}}</h3>
    <table>
      <thead>
        <tr>
          <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.damage.short"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.damage.threshold.reduction.short"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.actionPoints.use"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weapon.shots"}}</th>
        </tr>
      </thead>
      <tbody>
        {{~#each weapon.sheet.attacks as |attack|~}}
          <tr>
            <th scope="row" class="align-left">
              {{~#if ../readied~}}
                <button class="min-width" type="button" title="{{localize 'wv.system.rolls.modifierExplanation'}}" data-weapon-attack-name="{{@key}}">{{@key}}</button>
              {{~^~}}
                {{@key}}
              {{~/if~}}
            </th>
            <td class="align-right">{{attack.damage}}</td>
            <td class="align-right">{{attack.dtReduction}}</td>
            <td class="align-right">{{attack.ap}}</td>
            <td class="align-right">{{attack.rounds}}</td>
          </tr>
        {{~/each~}}
      </tbody>
    </table>
    <div class="detail-groups">
      {{~#if weapon.sheet.usesAmmo~}}
        <section>
          <span>{{localize "wv.rules.equipment.weapon.reload.name"}}:</span>
          <span class="details">
            <span class="flex-fixed">{{weapon.data.reload.ap}} {{localize "wv.rules.actionPoints.short"}}</span>
            <span class="flex-fixed">{{weapon.data.reload.size}} {{weapon.sheet.reload.caliber}}</span>
            <span class="flex-fixed">{{weapon.sheet.reload.containerType}}</span>
          </span>
        </section>
      {{~/if~}}
      <div class="details">
        <span class="flex-fixed">{{weapon.sheet.skill}}</span>
        <span class="flex-fixed">{{localize "wv.rules.equipment.weapon.strengthRequirement.short"}} {{weapon.data.strengthRequirement}}</span>
        {{~#if weapon.data.holdout~}}
          <span class="flex-fixed">{{localize "wv.rules.equipment.weapon.holdout"}}</span>
        {{~/if~}}
      </div>
      {{~#if weapon.data.notes~}}
        <div>{{weapon.data.notes}}</div>
      {{~/if~}}
    </div>
  {{~/if~}}
</div>
