{{~#if weapon~}}
  <div class="weapon-slot" data-item-id="{{weapon._id}}">
    <h3>{{weapon.name}}</h3>
    <table>
      <thead>
        <tr>
          <th scope="col" class="align-left">{{localize "wv.system.misc.name"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.damage.long"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.damage.threshold.reduction.short"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.actionPoints.use"}}</th>
          <th scope="col" class="align-right">{{localize "wv.rules.equipment.weapon.shots"}}</th>
          <th scope="col" class="align-left">{{localize "wv.system.misc.tags"}}</th>
        </tr>
      </thead>
      <tbody>
        {{~#each weapon.data.attacks.attacks as |attack|~}}
          <tr>
            <th scope="row" class="align-left">
              {{~#if ../readied~}}
                <button class="min-width no-wrap" type="button" title="{{localize 'wv.system.rolls.modifierExplanation'}}" data-weapon-attack-name="{{@key}}">{{@key}}</button>
              {{~else~}}
                {{@key}}
              {{~/if~}}
            </th>
            <td class="align-right">{{attack.damageFormula}} = {{attack.damageRange}}</td>
            <td class="align-right">{{attack.data.dtReduction.total}}</td>
            <td class="align-right">{{attack.data.ap.total}}</td>
            <td class="align-right">{{attack.data.rounds.total}}</td>
            <td class="align-left tags">
              {{~#each attack.data.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </td>
          </tr>
        {{~/each~}}
      </tbody>
    </table>
    <div class="detail-groups">
      <section>
        <span>{{localize "wv.rules.range.plural"}}:</span>
        <span class="details">
          <span>{{localize "wv.rules.range.ranges.short.short"}} ({{weapon.sheet.displayRanges.short}}{{sheet.systemGridUnit}}) [{{weapon.data.ranges.short.modifier.total}}] <span class="tags">
              {{~#each weapon.data.ranges.short.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </span></span>
          {{~#unless (eq "-" weapon.sheet.displayRanges.medium)~}}
            <span>{{localize "wv.rules.range.ranges.medium.short"}} ({{weapon.sheet.displayRanges.medium}}{{sheet.systemGridUnit}}) [{{weapon.data.ranges.medium.modifier.total}}] <span class="tags">
              {{~#each weapon.data.ranges.medium.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </span></span>
          {{~/unless~}}
          {{~#unless (eq "-" weapon.sheet.displayRanges.long)~}}
            <span>{{localize "wv.rules.range.ranges.long.short"}} ({{weapon.sheet.displayRanges.long}}{{sheet.systemGridUnit}}) [{{weapon.data.ranges.long.modifier.total}}] <span class="tags">
              {{~#each weapon.data.ranges.long.tags as |tag|~}}
                <span class="fas fa-tag tag">{{tag}}</span>
              {{~/each~}}
            </span></span>
          {{~/unless~}}
        </span>
      </section>
      {{~#if (gt weapon.data.reload.size.total 0)~}}
        <section>
          <span>{{localize "wv.rules.equipment.weapon.reload.name"}}:</span>
          <span class="details">
            <span>{{weapon.data.reload.ap.total}} {{localize "wv.rules.actionPoints.short"}}</span
            ><span>{{weapon.data.reload.size.total}} * {{weapon.sheet.reload.caliber}}</span
            ><span>{{weapon.sheet.reload.containerType}}</span>
          </span>
        </section>
      {{~/if~}}
      <section class="details">
        <span>{{weapon.sheet.skill}}</span
        ><span>{{localize "wv.rules.equipment.weapon.strengthRequirement.short"}}: {{weapon.data.strengthRequirement.total}}</span>
        {{~#if weapon.data.holdout~}}
          <span>{{localize "wv.rules.equipment.weapon.holdout"}}</span>
        {{~/if~}}
      </section>
      <section class="tags">
        {{~#each weapon.data.tags as |tag|~}}
          <span class="fas fa-tag tag">{{tag}}</span>
        {{~/each~}}
      </section>
      {{~#if weapon.data.notes~}}
        <section>{{weapon.data.notes}}</section>
      {{~/if~}}
    </div>
  </div>
{{~/if~}}
