<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header flexrow flex-fixed">
    <img class="profile-img flex-fixed" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="actor-info">
      <h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="header-fields">
        <div class="leveling-and-karma flexrow">
          <div class="resource-block resource-block-line flex-fixed">
            <label class="contained-target-inline">
              {{localize "wv.labels.secondary.level"}}
              <span class="resource-display size-2">{{data.data.leveling.level}}</span>
            </label>
          </div>
          <div class="resource-block resource-block-line flex-fixed">
            <label class="contained-target-inline">
              {{localize "wv.labels.secondary.experience"}}
              <input class="size-5" type="number" name="data.leveling.experience" value="{{data.data.leveling.experience}}" min="{{sheet.bounds.experience.min}}" max="{{sheet.bounds.experience.max}}" />
            </label>
          </div>
          <div class="resource-block resource-block-line flex-fixed">
            <label class="contained-target-inline">
              {{localize "wv.sheet.background.karma"}}
              <input class="size-4" type="number" name="data.background.karma" value="{{data.data.background.karma}}" min="{{sheet.bounds.karma.min}}" max="{{sheet.bounds.karma.max}}" />
            </label>
          </div>
        </div>
        <div class="main-resources flexrow">
          <div class="health resource-block flex-fixed">
            <div class="resource-block-line">
              <label class="contained-target-inline">
                {{localize "wv.labels.secondary.health"}}
                <div class="resource-display">
                  <input class="size-2" type="number" name="data.vitals.hitPoints.value" value="{{data.data.vitals.hitPoints.value}}" min="0" max="{{data.data.vitals.hitPoints.max}}" />
                  <span>&nbsp;/&nbsp;</span>
                  <span class="size-2">{{data.data.vitals.hitPoints.max}}</span>
                </div>
              </label>
            </div>
            <div class="resource-block-line">
              <label class="contained-target-inline">
                {{localize "wv.labels.secondary.healingRate"}}
                <span class="resource-display size-1">{{data.data.vitals.healingRate}}</span>
              </label>
            </div>
          </div>
          <div class="action-points resource-block flex-fixed resource-block-line">
            <label class="contained-target-inline">
              {{localize "wv.labels.secondary.actionPoints"}}
              <div class="resource-display">
                <input class="size-2" type="number" name="data.vitals.actionPoints.value" value="{{data.data.vitals.actionPoints.value}}" min="0" max="{{data.data.vitals.actionPoints.max}}" />
                <span>&nbsp;/&nbsp;</span>
                <span class="size-2">{{data.data.vitals.actionPoints.max}}</span>
              </div>
            </label>
          </div>
          <div class="strain resource-block flex-fixed resource-block-line">
            <label class="contained-target-inline">
              {{localize "wv.labels.secondary.strain"}}
              <div class="resource-display">
                <input class="size-2" type="number" name="data.vitals.strain.value" value="{{data.data.vitals.strain.value}}" min="0" max="{{data.data.vitals.strain.max}}" />
                <span>&nbsp;/&nbsp;</span>
                <span class="resource-display size-2">{{data.data.vitals.strain.max}}</span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.sheet.tabs.stats"}}</a>
    <a class="item" data-tab="effects">{{localize "wv.sheet.tabs.effects"}}</a>
    <a class="item" data-tab="magic">{{localize "wv.sheet.tabs.magic"}}</a>
    <a class="item" data-tab="background">{{localize "wv.sheet.tabs.background"}}</a>
  </nav>

  <section class="content">
    <div class="tab active" data-group="primary" data-tab="stats">
      <section class="special-and-skills">
        <div class="grid-3cols standard-grid-gaps flex-center">
          <label>{{localize "wv.labels.special.name"}}</label>
          <label>{{localize "wv.labels.special.value"}}</label>
          <label>{{localize "wv.labels.special.roll"}}</label>
          {{#each sheet.specials as | spec |}}
            <label>{{spec.long}}</label>
            <input class="size-2" type="number" name="data.specials.{{@key}}" value="{{spec.value}}" min="{{../sheet.bounds.special.points.min}}" max="{{../sheet.bounds.special.points.max}}" />
            <button data-special="{{@key}}" title="{{localize 'wv.labels.rolls.buttonTitle'}}" type="button">{{localize "wv.labels.special.roll"}}</button>
          {{/each}}
        </div>
        <div class="grid-5cols standard-grid-gaps flex-center">
          <label>{{localize "wv.labels.skills.name"}}</label>
          <label>{{localize "wv.labels.skills.special"}}</label>
          <label>{{localize "wv.labels.skills.total"}}</label>
          <label>{{localize "wv.labels.skills.ranks"}}</label>
          <label>{{localize "wv.labels.skills.roll"}}</label>
          {{#each sheet.skills as | skill |}}
            <label>{{skill.name}}</label>
            <label>{{skill.special}}</label>
            <span class="resource-display size-3">{{skill.total}}</span>
            <input class="size-3" type="number" name="data.leveling.skillRanks.{{@key}}" value="{{skill.ranks}}" min="{{../sheet.bounds.skills.points.min}}" max="{{../sheet.bounds.skills.points.max}}" />
            <button data-skill="{{@key}}" title="{{localize 'wv.labels.rolls.buttonTitle'}}" type="button">{{localize "wv.labels.skills.roll"}}</button>
          {{/each}}
        </div>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="effects">
      <section class="effects">
        <a class="effect-control fas fa-plus" data-action="create" data-type="effect" title="{{localize wv.fvttItems.actions.create}}"></a>
        <ol class="fvtt-item-list">
          {{#each sheet.effects as |effect|}}
            <li class="fvtt-item effect" data-id="{{effect.id}}">
              <h4>{{effect.name}}</h4>
              <div class="fvtt-item-controls flexrow">
                <a class="effect-control fas fa-pen" data-action="edit" title="{{localize wv.fvttItems.actions.edit}}"></a>
                <a class="effect-control fas fa-minus" data-action="delete" title"{{localize wv.fvttItems.actions.delete}}"></a>
              </div>
            </li>
          {{/each}}
        </ol>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="magic">
      <section class="magic">
        <label class="contained-target-inline thaum-special">
          {{localize "wv.labels.magic.thaumSpecial"}}
          <select name="data.magic.thaumSpecial">
            {{#each sheet.magic.thaumSpecials as | thaumSpecial |}}
              <option value="{{@key}}"{{#if thaumSpecial.selected}} selected{{/if}}>{{thaumSpecial.name}}</option>
            {{/each}}
          </select>
        </label>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="background">
      <section class="background">
        <section>
          <label>
            {{localize "wv.sheet.background.background"}}
            <textarea name="data.background.background">{{data.data.background.background}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.sheet.background.history"}}
            <textarea name="data.background.history">{{data.data.background.history}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.sheet.background.fears"}}
            <textarea name="data.background.fears">{{data.data.background.fears}}</textarea>
          </label>
        </section>
        <section>
          <label>
            {{localize "wv.sheet.background.dreams"}}
            <textarea name="data.background.dreams">{{data.data.background.dreams}}</textarea>
          </label>
        </section>
      </section>
    </div>
  </section>

</form>
