<form class="{{cssClass}}" autocomplete="off">
  <div class="flexrow">
    <div class="level standard-padding grid-2cols standard-grid-gaps">
      <label>{{localize "wv.labels.secondary.level"}}</label>
      <span>{{data.leveling.level}}</span>
      <label>{{localize "wv.labels.secondary.experience"}}</label>
      <span>{{data.leveling.experience}}</span>
    </div>
    <div class="health standard-padding grid-2cols standard-grid-gaps">
      <label>{{localize "wv.labels.secondary.health"}}</label>
      <span>{{data.vitals.hitPoints}}/{{data.vitals.maxHitPoints}}</span>
      <label>{{localize "wv.labels.secondary.healing_rate"}}</label>
      <span>{{data.vitals.healingRate}}</span>
    </div>
    <div class="action-points standard-padding">
      <label>{{localize "wv.labels.secondary.action_points"}}</label>
      <span>{{data.vitals.actionPoints}}/{{data.vitals.maxActionPoints}}</span>
    </div>
    <div class="criticals standard-padding">
      <label>{{localize "wv.labels.secondary.criticals.title"}}</label>
      <div class="grid-2cols standard-grid-gaps">
        <label>{{localize "wv.labels.secondary.criticals.success"}}</label>
        <span>{{secondary.criticals.success}}</span>
        <label>{{localize "wv.labels.secondary.criticals.failure"}}</label>
        <span>{{secondary.criticals.failure}}</span>
      </div>
    </div>
    <div class="initiative standard-padding">
      <label>{{localize "wv.labels.secondary.initiative"}}</label>
      <span>1d10 + {{data.specials.perception}}</span>
    </div>
    <div class="radiation standard-padding">
      <label>{{localize "wv.labels.ailments.radiation.title"}}</label>
      <div class="grid-2cols standard-grid-gaps">
        <label>{{localize "wv.labels.ailments.radiation.absorbed.title"}}</label>
        <span>{{secondary.radiation.value}} {{localize "wv.labels.ailments.radiation.absorbed.unit"}}</span>
      </div>
      <div>
        <label>{{localize "wv.labels.ailments.radiation.effects"}}</label>
        <span>{{secondary.radiation.effects}}</span>
      </div>
    </div>
    <div class="resistances standard-padding">
      <label>{{localize "wv.labels.resistances.title"}}</label>
      <div class="grid-2cols standard-grid-gaps">
        <label>{{localize "wv.labels.resistances.radiation"}}</label>
        <span>{{secondary.resistances.radiation}}</span>
        <label>{{localize "wv.labels.resistances.poison"}}</label>
        <span>{{secondary.resistances.poison}}</span>
      </div>
    </div>
  </div>
  <div class="special-and-skills">
    <div class="standard-padding grid-2cols standard-grid-gaps">
      <label>{{localize "wv.labels.special.name"}}</label>
      <label>{{localize "wv.labels.special.value"}}</label>
      {{#each sheet.specials as |spec|}}
      <label>{{localize spec.long}}</label>
      <div>{{spec.value}}</div>
      {{/each}}
    </div>
    <div class="standard-padding grid-2cols standard-grid-gaps">
      <label>{{localize "wv.labels.skills.name"}}</label>
      <label>{{localize "wv.labels.skills.value"}}</label>
      {{#each skills as |skill|}}
      <label>{{localize skill.name}}</label>
      <div>{{skill.value}}</div>
      {{/each}}
    </div>
  </div>
</form>
