<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header flexrow flex-fixed">
    <img class="profile-img flex-fixed" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="actor-info">
      <h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="header-fields">
        <div class="flexrow">
          <div class="level standard-padding flexcol">
            <div class="flexrow flex-center">
              <label class="resource-label">{{localize "wv.labels.secondary.level"}}</label>
              <span class="flex-fixed resource-display">{{data.leveling.level}}</span>
            </div>
            <div class="flexrow flex-center">
              <label class="resource-label">{{localize "wv.labels.secondary.experience"}}</label>
              <input class="flex-fixed resource-input-5" type="number" name="data.leveling.experience" value="{{data.leveling.experience}}" min="0" />
            </div>
          </div>
          <div class="health standard-padding flexcol">
            <div class="flexrow flex-center">
              <label class="resource-label">{{localize "wv.labels.secondary.health"}}</label>
              <input class="flex-fixed resource-input-2" type="number" name="data.vitals.hitPoints" value="{{data.vitals.hitPoints}}" min="0" max="{{data.vitals.maxHitPoints}}" />
              <span class="flex-fixed">/{{data.vitals.maxHitPoints}}</span>
            </div>
            <div class="flexrow flex-center">
              <label class="resource-label">{{localize "wv.labels.secondary.healingRate"}}</label>
              <span class="flex-fixed resource-display">{{data.vitals.healingRate}}</span>
            </div>
          </div>
          <div class="action-points standard-padding flexrow flex-center">
            <label class="resource-label">{{localize "wv.labels.secondary.actionPoints"}}</label>
            <input class="flex-fixed resource-input-2" type="number" name="data.vitals.actionPoints" value="{{data.vitals.actionPoints}}" min="0" max="{{data.vitals.maxActionPoints}}" />
            <span class="flex-fixed">/{{data.vitals.maxActionPoints}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="tabs flex-fixed" data-group="primary">
    <a class="item" data-tab="stats">{{localize "wv.sheet.tabs.stats"}}</a>
    <a class="item" data-tab="background">{{localize "wv.sheet.tabs.background"}}</a>
  </nav>

  <section class="content">
    <div class="tab active" data-group="primary" data-tab="stats">
      <section class="special-and-skills">
        <div class="standard-padding grid-3cols standard-grid-gaps flex-center">
          <label>{{localize "wv.labels.special.name"}}</label>
          <label>{{localize "wv.labels.special.value"}}</label>
          <label>{{localize "wv.labels.special.roll"}}</label>
          {{#each sheet.specials as |spec key|}}
            <label>{{spec.long}}</label>
            <input class="flex-fixed resource-input-2" type="number" name="data.specials.{{key}}" value="{{spec.value}}" min="0" max="15" />
            <button class="rollable" data-special="{{key}}">{{localize "wv.labels.special.roll"}}</button>
          {{/each}}
        </div>
        <div class="standard-padding grid-5cols standard-grid-gaps flex-center">
          <label>{{localize "wv.labels.skills.name"}}</label>
          <label>{{localize "wv.labels.skills.special"}}</label>
          <label>{{localize "wv.labels.skills.total"}}</label>
          <label>{{localize "wv.labels.skills.ranks"}}</label>
          <label>{{localize "wv.labels.skills.roll"}}</label>
          {{#each sheet.skills as |skill key|}}
            <label>{{skill.name}}</label>
            <label>{{skill.special}}</label>
            <span class="flex-fixed resource-display">{{skill.total}}</span>
            <input class="flex-fixed resource-input-3" type="number" name="data.leveling.skillRanks.{{key}}" value="{{skill.ranks}}" min="0" max="100" />
            <button class="rollable" data-skill="{{key}}">{{localize "wv.labels.skills.roll"}}</button>
          {{/each}}
        </div>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="background">
      <section class="background">
        <section>
          <label>{{localize "wv.sheet.background.background"}}</label>
          <textarea name="data.background.background">{{data.background.background}}</textarea>
        </section>
        <section>
          <label>{{localize "wv.sheet.background.history"}}</label>
          <textarea name="data.background.history">{{data.background.history}}</textarea>
        </section>
        <section>
          <label>{{localize "wv.sheet.background.fears"}}</label>
          <textarea name="data.background.fears">{{data.background.fears}}</textarea>
        </section>
        <section>
          <label>{{localize "wv.sheet.background.dreams"}}</label>
          <textarea name="data.background.dreams">{{data.background.dreams}}</textarea>
        </section>
        <section>
          <label>{{localize "wv.sheet.background.karma"}}</label>
          <input class="flex-fixed resource-input-3" type="number" name="data.background.karma" value="{{data.background.karma}}" min="-100" max="100" />
        </section>
      </section>
    </div>
  </section>

</form>
